.header-container {
    width: 100%;
    height: var(--header-height);
    border-bottom: 1px solid #7f8c8d;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-weight: bold;
    font-size: 28px;
    padding-left: 20px;
    background-color: #dfe6e9;
    color: #2d3436;
    box-shadow: 0px 0px 4px 0px #2d3436;
}

.left-section {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.right-section {
    width: 32%;
    display: flex;
    justify-content: center;
    align-items: center;
}



.proposal-button {
    width: 100px;
    height: 40px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: #e74c3c;
    border: none;
    border-radius: 6px;
    margin-right: 20px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.proposal-button:hover {
    background-color: #c0392b;
}

.import-button {
    visibility: hidden;
    width: 100px;
    height: 40px;
    z-index: 5;
}

.proposal-button label {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
}

.proposal-button a {
    font-weight: bold;
    color: white;
    text-decoration: none;
    padding: 8px;
}

.logo-image {
    margin-right: 20px;
    
}