.tree-node-container {
    padding: 6px;
    background-color: #2980b9;
    color: white;
    font-weight: bold;
    font-size: 14px;
}

.decision-tree-container {
    /* --decision-tree-container-height: calc(100% - var(--header-height)); */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
}

.container-title {
    font-size: 20px;
    font-weight: bold;
    color: #2c3e50;
    margin-top: 20px;
}

.regular-node-svg > circle{
    fill: #3498db;
    r: 20;
    stroke-width: 4px;
    transition: all .2s;
}

.regular-node-svg > circle:hover{
    fill: #2980b9

}

.proposal-node > circle{
    fill: #2ecc71
}

.proposal-node > circle:hover{
    fill: #27ae60
}

.proposal-text {
    width: 80px;
}

.empty-node > circle {
    fill: #e74c3c;
}

/* export const REGULAR_NODE_SVG_STYLE = {
    shape: 'circle',
    shapeProps: {
      r: 30,
      fill: '#FFFFFF',
    },
  }; */